<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2>Comments</h2>
    <div>
        size: <span th:text="${commentsSize}"></span>
    </div>
<div>

<!--    <div th:each="c : ${comments}">-->
<!--        <div>-->
<!--            <p th:text="${c}"></p>-->
<!--            <p th:text="${cat.age}"></p>-->
<!--            <p th:text="${cat.color}"></p>-->
<!--        </div>-->
<!--    </div>-->
    <div id="comm-root"></div>
</div>

    <script type="text/javascript">

        const commRoot = document.querySelector("#comm-root");

        getComments();
        getPersons();

        function populatePersonForComment(id) {
            const comment = document.querySelector("#comm");
            fetch(`/rest/persons/${id}`).then(r => r.json()).then(res => {
                let personPara = document.createElement('p');
                personPara.innerHTML = `${res.name}`
                // comment.appendChild(personPara);
                console.log(res)
            });
        }
        function getComments() {
            fetch('/rest/comments').then(r => r.json()).then(res => {
                res.forEach(c => {
                   let commDiv = document.createElement('div');
                   commDiv.innerHTML = `<div id="comm" class="comment"><p>${c.body}</p><p>${c.category}</p></div>`;
                   commRoot.appendChild(commDiv);
                   populatePersonForComment(c.authorId)
               })
            });
        }

        function getPersons() {
            fetch('/rest/persons').then(r => r.json()).then(res => {
                console.log(res)
            });
        }

    </script>

</body>
</html>